<div class="py-4 my-1">
    <div class="row mb-5">
      <div class="col-md-24">
        <h1>Korisnici</h1>
      </div>
    </div>
  
    <div class="mx-n5">
      <dx-data-grid class="DxGrid" id="gridContainer" [dataSource]="korisnici" [showBorders]="false"
        [rowAlternationEnabled]="true" [remoteOperations]="true">
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Pretraga..."></dxo-search-panel>
  
        <dxo-paging [enabled]="true"></dxo-paging>
        <dxo-editing mode="row" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false">
        </dxo-editing>

        <dxi-column type="buttons" alignment="left" width="60" headerCellTemplate="addIconHeaderTemplate"
        cellTemplate="cellIconsTemplate" cssClass="pl-5 pr-0 align-middle"></dxi-column>
  
        <dxi-column dataField="ime" caption="Ime" dataType="string">
        </dxi-column>

        <dxi-column dataField="prezime" sortOrder="asc" caption="Prezime" dataType="string">
        </dxi-column>
  
        <dxi-column dataField="email" caption="Email" dataType="string">
        </dxi-column>
          
        <dxi-column dataField="jmbag" caption="JMBAG" dataType="string">
        </dxi-column>
          
        <dxi-column dataField="bulkId" caption="Identifikacijski broj" dataType="string">
        </dxi-column>
  
        <dxi-column caption="Akcije" type="buttons" [width]="'auto'" [hidingPriority]="5"
          cellTemplate="acctionsCellTemplate"></dxi-column>
  
        <div *dxTemplate="let d of 'acctionsCellTemplate'">
          <button class="btn btn-link btn-sm" >Uredi</button>
          <span>&nbsp;</span>
        </div>

        <div *dxTemplate="let info of 'addIconHeaderTemplate'">
          <div style="text-align: center;" (click)="addNewKorisnik()">
              <i class="bi bi-plus-circle-fill f-20 fg-primary"></i>
          </div>
        </div>

        <div *dxTemplate="let cellInfo of 'cellIconsTemplate'">
          <div style="text-align: center;" (click)="removeKorisnik(cellInfo)">
              <i class="bi bi-x-circle f-16"></i>
          </div>
        </div>

        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
  
      </dx-data-grid>
    </div>
  </div>
