<app-side-nav></app-side-nav>
<div class="compDesign">
<div class="py-4 my-1">
    <div class="row mb-5">
      <div class="col-md-24">
        <h1>Moduli</h1>
      </div>
    </div>
  
    <div>
      <dx-data-grid class="DxGrid" id="gridContainer" [dataSource]="moduli" [showBorders]="false"
        [rowAlternationEnabled]="true" [remoteOperations]="true" (onExporting)="onExporting($event)">
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Pretraga..."></dxo-search-panel>
        <dxo-export [enabled]="true"></dxo-export>
        <dxo-paging [enabled]="true"></dxo-paging>
        <dxo-editing mode="row" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false">
        </dxo-editing>
  
        <dxi-column dataField="naziv" sortOrder="asc" caption="Naziv" dataType="string">
        </dxi-column>

        <dxi-column dataField="kratica" caption="Kratica" dataType="string">
        </dxi-column>
  
        <dxi-column caption="Akcije" type="buttons" [width]="'auto'" [hidingPriority]="5"
          cellTemplate="acctionsCellTemplate"  headerCellTemplate="addIconHeaderTemplate"></dxi-column>
  
        <div *dxTemplate="let d of 'acctionsCellTemplate'">
          <button class="btn bi bi-pencil-square" (click)="openModulModal(d.row.data)"></button>
          <span>&nbsp;</span>
          <button class="btn bi bi-trash-fill text-danger" (click)="resetModul(); openConfirmModal(d.row.data)"></button>
        </div>

        <div *dxTemplate="let info of 'addIconHeaderTemplate'">
          <div style="text-align: center; font-size: 17px; color: #2064a0" (click)="modulModal.show(); ">
              <i class="bi bi-plus-circle-fill"></i>
          </div>
        </div>

        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
  
      </dx-data-grid>
    </div>
</div>

<div bsModal #modulModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 *ngIf="!modul.id" class="modal-title pull-left">Dodavanje modula</h4>         
          <h4 *ngIf="modul.id" class="modal-title pull-left">Uređivanje modula</h4>        
        </div>
        <div class="modal-body">
            <div class="card-body">
              <form>
                <div>
                  <label for="naziv">Naziv</label>
                  <dx-text-box required
                              name="naziv"
                              [(value)]="modul.naziv">
                  </dx-text-box>
                  <div class="invalid-feedback">
                      Obavezan unos.
                  </div>
                  <label for="naziv">Kratica</label>
                  <dx-text-box required
                              name="kratica"
                              [(value)]="modul.kratica">
                  </dx-text-box>
                  <div class="invalid-feedback">
                      Obavezan unos.
                  </div>
                </div>
              </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-neutral" (click)="getModuls(); modulModal.hide()">Zatvori</button>
          <button type="button" class="btn btn-primary" [disabled]="isDisabled()" (click)="saveModul()">Spremi</button>
        </div>
      </div>
    </div>
</div>

<div bsModal #confirmModal="bs-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Brisanje</h5>
      </div>
      <div class="modal-body">
        <p>Jeste li sigurni da želite obrisati modul {{selectedModul.naziv}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" (click)="confirmModal.hide()">Odustani</button>
        <button type="button" class="btn btn-primary" (click)="confirmModal.hide(); removeModul(selectedModul)">Potvrdi</button>
      </div>
    </div>
  </div>
</div>
</div>