<app-side-nav></app-side-nav>
<div class="compDesign">
<div class="row">
  <div class="header py-3">
    <h1 class="mb-0 f-25 font-weight-bold" style="color: #f8f9fa; text-align: center;">Ostani student</h1>
  </div>
</div>

<div class="text-center col-md-24 row py-3" style="background-color: #173753; color: #f8f9fa;">
  <h4>{{userData?.ime + " " + userData?.prezime + " (" + userData?.jmbag + ")"}}</h4>
</div>

<div *ngIf="!isModulSelected" class="text-center mt-4">
  <div class="table">
    <h3>Moduli</h3>
    <div
      id="allModuls"
      cdkDropList
      [cdkDropListData]="moduls"
      cdkDropListConnectedTo="selectedModuls"
      class="subject-list"
      (cdkDropListDropped)="dropModul($event, true)">
      <div
        class="subject-box"
        *ngFor="let modul of moduls"
        [style]="{background: color(modul.id)}"
        [cdkDragData]="modul.id"
        cdkDrag>
        <div class="subject-custom-placeholder" *cdkDragPlaceholder></div>
        {{modul.naziv}}
      </div>
    </div>
  </div>
  <div class="table">
    <h3>Rangiraj module po odabiru</h3>
    <div
      id="selectedModuls"
      cdkDropList
      [cdkDropListData]="selectedModuls"
      cdkDropListConnectedTo="allModuls"
      class="subject-list"
      (cdkDropListDropped)="dropModul($event, false)">
      <div
        class="subject-box"
        [style]="{background: color(modul.id)}"
        *ngFor="let modul of selectedModuls; let i = index"
        cdkDrag
        [cdkDragData]="modul.id">
        <div class="subject-custom-placeholder" *cdkDragPlaceholder></div>
        {{i+1+". " + modul.naziv}}
      </div>
    </div>
  </div>
  <div class="buttons">
    <button type="button" class="btn btn-neutral" (click)="cancelModul()">Odustani</button>
    <button [disabled]="modulsSubmitDisabled()" type="button" class="btn btn-primary" (click)="selectModuls()">Odaberi modul</button>
  </div>
</div>

<!--Prvi izbor-->
<div *ngIf="isWinterSubjectFirstChoiceVisible">
  <div class="text-center mt-4">
    <h3>Obavezni predmeti za prvorangirani modul "{{selectedModul.naziv}}" zimski semestar</h3>
    <div class="table mt-2">
      <div class="subject-list" style="border-bottom: 0px;">
        <div class="subject-box-required" [style]="{background: color(predmet.idModul)}" *ngFor="let predmet of requiredWinterSubjectsFirstChoice">
          {{displayRequiredExpr(predmet)}}
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-5">
    <div class="table">
      <h3>Izborni predmeti zimski semestar</h3>
      <div
        id="allWinterSubjects"
        cdkDropList
        [cdkDropListData]="winterPredmets"
        cdkDropListConnectedTo="selectedWinterSubjects"
        class="subject-list"
        (cdkDropListDropped)="dropWinter($event, true)">
        <div
          class="subject-box"
          *ngFor="let predmet of winterPredmets"
          [style]="{background: color(predmet.idModul)}"
          [cdkDragData]="predmet.id"
          cdkDrag>
          <div class="subject-custom-placeholder" *cdkDragPlaceholder></div>
          {{displayExpr(predmet)}}
        </div>
      </div>
    </div>
    <div class="table">
      <h3>Rangiraj predmete po odabiru</h3>
      <div
        id="selectedWinterSubjects"
        cdkDropList
        [cdkDropListData]="selectedWinterSubjectsFirstChoice"
        cdkDropListConnectedTo="allWinterSubjects"
        class="subject-list"
        (cdkDropListDropped)="dropWinter($event, false)">
        <div
          class="subject-box"
          [style]="{background: color(predmet.idModul)}"
          *ngFor="let predmet of selectedWinterSubjectsFirstChoice; let i = index"
          cdkDrag
          [cdkDragData]="predmet.id">
          <div class="subject-custom-placeholder" *cdkDragPlaceholder></div>
          {{i+1+". " + displayExpr(predmet)}}
        </div>
      </div>
    </div>
  </div>

  <!--LJETNIIIII-->
  <div class="text-center mt-4">
    <h3>Obavezni predmeti za prvorangirani modul "{{selectedModul.naziv}}" ljetni semestar</h3>
    <div class="table mt-2">
      <div class="subject-list" style="border-bottom: 0px;">
        <div class="subject-box-required" [style]="{background: color(predmet.idModul)}" *ngFor="let predmet of requiredSummerSubjectsFirstChoice">
          {{displayRequiredExpr(predmet)}}
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-5">
    <div class="table">
      <h3>Izborni predmeti ljetni semestar</h3>
      <div
        id="allSummerSubjects"
        cdkDropList
        [cdkDropListData]="summerPredmets"
        cdkDropListConnectedTo="selectedSummerSubjects"
        class="subject-list"
        (cdkDropListDropped)="dropSummer($event, true)">
        <div
          class="subject-box"
          [style]="{background: color(predmet.idModul)}"
          *ngFor="let predmet of summerPredmets"
          [cdkDragData]="predmet.id"
          cdkDrag>
          <div class="subject-custom-placeholder" *cdkDragPlaceholder></div>
          {{displayExpr(predmet)}}
        </div>
      </div>
    </div>
    <div class="table">
      <h3>Rangiraj predmete po odabiru</h3>
      <div
        id="selectedSummerSubjects"
        cdkDropList
        [cdkDropListData]="selectedSummerSubjectsFirstChoice"
        cdkDropListConnectedTo="allSummerSubjects"
        class="subject-list"
        (cdkDropListDropped)="dropSummer($event, false)">
        <div
          class="subject-box"
          [style]="{background: color(predmet.idModul)}"
          *ngFor="let predmet of selectedSummerSubjectsFirstChoice; let i = index"
          cdkDrag
          [cdkDragData]="predmet.id">
          <div class="subject-custom-placeholder" *cdkDragPlaceholder></div>
          {{i+1+". " + displayExpr(predmet)}}
        </div>
      </div>
    </div>
  </div>

  <div class="buttons mb-4">
    <button type="button" class="btn btn-neutral" (click)="cancelFirstChoice()">Odustani</button>
    <button type="button" [disabled]="subjectSubmitDisabled()" class="btn btn-primary" (click)="submitFirstChoice()">Potvrdi prvi izbor</button>
  </div>
</div>

<!--Drugi izbor-->
<div *ngIf="isWinterSubjectSecondChoiceVisible" class="text-center mt-4">
  <h3>Obavezni predmeti za drugorangirani modul "{{selectedModul.naziv}}"</h3>
  <div class="table mt-2">
    <div class="subject-list" style="border-bottom: 0px;">
      <div class="subject-box-required" [style]="{background: color(predmet.idModul)}" *ngFor="let predmet of requiredWinterSubjectsSecondChoice">
        {{displayRequiredExpr(predmet)}}
      </div>
    </div>
  </div>
</div>

<div *ngIf="isWinterSubjectSecondChoiceVisible" class="text-center mt-5">
  <div class="table">
    <h3>Izborni predmeti</h3>
    <div
      id="allWinterSubjects"
      cdkDropList
      [cdkDropListData]="winterPredmets"
      cdkDropListConnectedTo="selectedWinterSubjects"
      class="subject-list"
      (cdkDropListDropped)="dropWinter($event, true)">
      <div
        class="subject-box"
        [style]="{background: color(predmet.idModul)}"
        *ngFor="let predmet of winterPredmets"
        [cdkDragData]="predmet.id"
        cdkDrag>
        <div class="subject-custom-placeholder" *cdkDragPlaceholder></div>
        {{displayExpr(predmet)}}
      </div>
    </div>
  </div>
  <div class="table">
    <h3>Rangiraj predmete po odabiru</h3>
    <div
      id="selectedWinterSubjects"
      cdkDropList
      [cdkDropListData]="selectedWinterSubjectsSecondChoice"
      cdkDropListConnectedTo="allWinterSubjects"
      class="subject-list"
      (cdkDropListDropped)="dropWinter($event, false)">
      <div
        class="subject-box"
        [style]="{background: color(predmet.idModul)}"
        *ngFor="let predmet of selectedWinterSubjectsSecondChoice; let i = index"
        cdkDrag
        [cdkDragData]="predmet.id">
        <div class="subject-custom-placeholder" *cdkDragPlaceholder></div>
        {{i+1+". " + displayExpr(predmet)}}
      </div>
    </div>
  </div>

  <!--LJETNIIIII-->
  <div class="text-center mt-4">
    <h3>Obavezni predmeti za prvorangirani modul "{{selectedModul.naziv}}" ljetni semestar</h3>
    <div class="table mt-2">
      <div class="subject-list" style="border-bottom: 0px;">
        <div class="subject-box-required" [style]="{background: color(predmet.idModul)}" *ngFor="let predmet of requiredSummerSubjectsSecondChoice">
          {{displayRequiredExpr(predmet)}}
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-5">
    <div class="table">
      <h3>Izborni predmeti ljetni semestar</h3>
      <div
        id="allSummerSubjects"
        cdkDropList
        [cdkDropListData]="summerPredmets"
        cdkDropListConnectedTo="selectedSummerSubjects"
        class="subject-list"
        (cdkDropListDropped)="dropSummer($event, true)">
        <div
          class="subject-box"
          [style]="{background: color(predmet.idModul)}"
          *ngFor="let predmet of summerPredmets"
          [cdkDragData]="predmet.id"
          cdkDrag>
          <div class="subject-custom-placeholder" *cdkDragPlaceholder></div>
          {{displayExpr(predmet)}}
        </div>
      </div>
    </div>
    <div class="table">
      <h3>Rangiraj predmete po odabiru</h3>
      <div
        id="selectedSummerSubjects"
        cdkDropList
        [cdkDropListData]="selectedSummerSubjectsSecondChoice"
        cdkDropListConnectedTo="allSummerSubjects"
        class="subject-list"
        (cdkDropListDropped)="dropSummer($event, false)">
        <div
          class="subject-box"
          [style]="{background: color(predmet.idModul)}"
          *ngFor="let predmet of selectedSummerSubjectsSecondChoice; let i = index"
          cdkDrag
          [cdkDragData]="predmet.id">
          <div class="subject-custom-placeholder" *cdkDragPlaceholder></div>
          {{i+1+". " + displayExpr(predmet)}}
        </div>
      </div>
    </div>
  </div>

  <div class="buttons mb-4">
    <button type="button" class="btn btn-neutral" (click)="cancelSecondChoice()">Odustani</button>
    <button type="button" [disabled]="subjectSubmitDisabled()" class="btn btn-primary" (click)="submitSecondChoice()">Potvrdi drugi izbor</button>
  </div>
</div>
</div>


