<div class="py-4 my-1">
    <div class="row mb-5">
      <div class="col-md-24">
        <h1>Predmeti</h1>
      </div>
    </div>
  
    <div>
      <dx-data-grid class="DxGrid" id="gridContainer" [dataSource]="predmeti" [showBorders]="false"
        [rowAlternationEnabled]="true" [remoteOperations]="true" (onExporting)="onExporting($event)">
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Pretraga..."></dxo-search-panel>
        <dxo-export [enabled]="true"></dxo-export>
        <dxo-paging [enabled]="true"></dxo-paging>
        <dxo-editing mode="row" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false">
        </dxo-editing>
  
        <dxi-column dataField="naziv" sortOrder="asc" caption="Naziv" dataType="string">
        </dxi-column>

        <dxi-column dataField="kapacitet" caption="Kapacitet" dataType="string">
        </dxi-column>

        <dxi-column dataField="idModul"
                caption="Modul"
                dataType="string">
        <dxo-lookup [dataSource]="moduli"
                  displayExpr="naziv"
                  valueExpr="id"></dxo-lookup>
        </dxi-column>

        <dxi-column dataField="idSifrarnik"
                caption="Sifrarnik"
                dataType="string">
        <dxo-lookup [dataSource]="sifrarnik"
                  displayExpr="naziv"
                  valueExpr="id"></dxo-lookup>
        </dxi-column>
   
        <dxi-column caption="Akcije" type="buttons" [width]="'auto'" [hidingPriority]="5"
          cellTemplate="acctionsCellTemplate"  headerCellTemplate="addIconHeaderTemplate"></dxi-column>
  
        <div *dxTemplate="let d of 'acctionsCellTemplate'">
          <button class="btn bi bi-pencil-square" (click)="openSubjectModal(d.row.data)"></button>
          <span>&nbsp;</span>
          <button class="btn bi bi-trash-fill text-danger" (click)="openConfirmModal(d.row.data)"></button>
        </div>

        <div *dxTemplate="let info of 'addIconHeaderTemplate'">
          <div style="text-align: center; font-size: 17px; color: #2064a0" (click)="resetPredmet(); subjectModal.show(); ">
              <i class="bi bi-plus-circle-fill"></i>
          </div>
        </div>

        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
  
      </dx-data-grid>
    </div>
  </div>

  <div bsModal #subjectModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Dodavanje predmeta</h4>         
        </div>
        <div class="modal-body">
            <div class="card-body">
              <form>
                <div>
                    <label for="naziv">Naziv</label>
                    <dx-text-box required
                                name="naziv"
                                [(value)]="predmet.naziv">
                    </dx-text-box>
                    <div class="invalid-feedback">
                        Obavezan unos.
                    </div>

                    <label for="kapacitet">Kapacitet</label>
                    <dx-text-box required
                                name="kapacitet"
                                [(value)]="predmet.kapacitet">
                    </dx-text-box>
                    <div class="invalid-feedback">
                        Obavezan unos.
                    </div>
                </div>

                <div>
                  <div class="form-group col-md-24">
                    <label for="modul">Modul</label>
                    <dx-select-box
                      [dataSource]="moduli"
                      [displayExpr]="'naziv'"
                      valueExpr="id"
                      [(value)]="predmet.idModul"
                      searchMode="contains"
                      [searchTimeout]="50"
                      [minSearchLength]="0"
                      [showClearButton]="true"
                      [searchEnabled]="true"
                      placeholder="Odaberi...">
                    </dx-select-box>
                    <div class="invalid-feedback">
                        Obavezan unos.
                    </div>
                  </div>
                </div>
                <div>
                  <div class="form-group col-md-24">
                    <label for="sifrarnik">Šifrarnik</label>
                    <dx-select-box
                      [dataSource]="sifrarnik"
                      [displayExpr]="'naziv'"
                      valueExpr="id"
                      [(value)]="predmet.idSifrarnik"
                      searchMode="contains"
                      [searchTimeout]="50"
                      [minSearchLength]="0"
                      [showClearButton]="true"
                      [searchEnabled]="true"
                      placeholder="Odaberi...">
                    </dx-select-box>
                    <div class="invalid-feedback">
                        Obavezan unos.
                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-neutral" (click)="getSubjects(); subjectModal.hide()">Zatvori</button>
          <button type="button" class="btn btn-primary" (click)="saveSubject()">Spremi</button>
        </div>
      </div>
    </div>
</div>

<div bsModal #confirmModal="bs-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Brisanje</h5>
      </div>
      <div class="modal-body">
        <p>Jeste li sigurni da želite obrisati predmet {{selectedSubject.naziv}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" (click)="confirmModal.hide()">Odustani</button>
        <button type="button" class="btn btn-primary" (click)="confirmModal.hide(); removeSubject(selectedSubject)">Potvrdi</button>
      </div>
    </div>
  </div>
</div>